{% extends "index.html" %}

{% block body %}

<h1 class = "center"> Explore New Tasks </h1>
<br>
<!----------------------------------------------------------------------------------------------------->
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://i.pinimg.com/originals/b4/c2/d7/b4c2d7c9fb28e69bff7ec8a1e37b8b42.jpg" alt="workout">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Create A Morning Routine </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Try working out </li>
                        <li> Eat Healthy </li>
                        <li> Strengthen your mind with a mind puzzle</li>
                    </ul>
                    <a class = "ui gray button" href = "https://www.forbes.com/sites/nomanazish/2018/01/27/five-simple-morning-rituals-of-exceptionally-successful-people/?sh=21023b0d1fde"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/morning"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://www.clipartmax.com/png/middle/316-3163438_download-workout-heart-icon-clipart-exercise-fitness-workout-clipart.png" alt="workout">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Workout </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> It can make you feel happier </li>
                        <li> It can increase your energy levels and self confidence </li>
                        <li> It can help your brain health and memory </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.healthline.com/nutrition/10-benefits-of-exercise"> Learn More </a>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.youtube.com/results?search_query=workout+at+home"> Workout Videos </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/workout"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------------------------------------------------------------------------- -->
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://www.wailana.com/sites/default/files/Blog%20Images/Lotus_large%20853%20x%20675.jpg" alt="workout">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Meditate </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Stress Reduction </li>
                        <li> Controls Anxiety </li>
                        <li> Improve Sleep </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.healthline.com/nutrition/12-benefits-of-meditation"> Learn More </a>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.youtube.com/results?search_query=how+to+meditate"> How to Meditate </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/meditate"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------------------------------------------------------------------------- -->
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://wallpapercave.com/wp/gO61Kx5.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Take time to show gratitude </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> It can open your relationships </li>
                        <li> Increases your empathy </li>
                        <li> Improves your slef esteem </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.forbes.com/sites/amymorin/2014/11/23/7-scientifically-proven-benefits-of-gratitude-that-will-motivate-you-to-give-thanks-year-round/?sh=7e9d3316183c"> Learn More </a>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.youtube.com/results?search_query=how+to+practice+gratitude"> Gratitude Videos </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/grat"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------->
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://images.unsplash.com/photo-1535868118629-f37bcd69ff59?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Drink a glass of lemon water </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Good source of Vitamin C </li>
                        <li> It improves skin quality </li>
                        <li> It supports weight loss </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.healthline.com/health/food-nutrition/benefits-of-lemon-water#vitamin-c"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/lem"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------->
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://static01.nyt.com/images/2018/07/03/well/physed-walk/physed-walk-superJumbo.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Take walks </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Prevent or manage heart conditions </li>
                        <li> Strenghtens your bones and muscles </li>
                        <li> Improve your mood </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.mayoclinic.org/healthy-lifestyle/fitness/in-depth/walking/art-20046261"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/walk"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Learn to manage your time </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> It decreases stress </li>
                        <li> You get more time freedom </li>
                        <li> Higher productivity  </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://lucemiconsulting.co.uk/benefits-of-time-management/"> Learn More </a>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.youtube.com/results?search_query=how+to+manage+your+time"> Learn to manage your time </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/time"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://goodereader.com/blog/uploads/images/https-_specials-images.forbesimg.com_dam_imageserve_794015686_960x0.jpg-fitscale.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Read for 30 minutes a day </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> It decreases stress and anxiety </li>
                        <li> Builds your vocabulary </li>
                        <li> It can help you get a good night’s sleep </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.healthline.com/health/benefits-of-reading-books#increases-empathy"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/read"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://lifeyourway.net/wp-content/uploads/2018/10/house-interior.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Take the time to be tidy </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Increased productivity </li>
                        <li> Decreases stress </li>
                        <li> Provides a sense of calm </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.rent.com.au/blog/benefits-clean-home"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/tidy"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://withoutstress.com/wp-content/uploads/2017/01/positive-thoughts.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Make time to think positively </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Lower depression levels </li>
                        <li> Better coping skills </li>
                        <li> Increased  psychological well being </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/positive-thinking/art-20043950"> Learn More </a>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.youtube.com/results?search_query=how+to+stay+positive"> How to think positive videos </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/pos"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
<div class = "rgunmetal">
    <div class = "ui celled grid">
        <div class = "row">
            <div class = "three wide column">
                <img src = "https://www.healtheuropa.eu/wp-content/uploads/2019/11/iStock-robertsrob-696x392.jpg">
            </div>
            <div class = "thirteen wide column">
                <h3 class = "center underline talmond"> Make sure to sleep 7 to 8 hours at night </h3>
                <p>
                    <ul class = "talmond tsmall">
                        <li> Can boost your immune system </li>
                        <li> Strengthen your heart </li>
                        <li> Improves memory </li>
                    </ul>
                    <div class = "divider"></div>
                    <a class = "ui gray button" href = "https://www.sclhealth.org/blog/2018/09/the-benefits-of-getting-a-full-night-sleep/"> Learn More </a>
                </p>
            </div>
        </div>
        <div class = "row">
            <div class = "thirteen wide column">
                <a class = "ui green button" href = "/sleep"> Add Task </a>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------>
{% endblock body %}